.mainbanner {
	position: relative;
	margin-top: 50px;
	padding: 0 20px 0 20px;
    display: flex;
}

.mainbanner img {
	width: 100%;
    position: relative;
}

.mainbanner-text p {
    top: 30%;
    padding: 20px 0px 20px 0px;
    font-size: 40px;
    color: white;
    border-radius: 5px;
    position: relative;
    font-family: "Hiragino Sans GB";
    font-weight: lighter;
}

.banner1-text,
.banner1-3dfile {
	z-index: 1;
	padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 5%;
    padding-right: 5%;
    color: #333333;
    flex: 1;
}

.banner-text-title {
	text-align: center;
	margin-bottom: 10%;
	font-family: Helvetica;
	letter-spacing: 5px;
    color: #333333;
}

.banner-content {
	color: #555;
	font-family: Helvetica;
	font-size: 16px;
	line-height: 35px;
}

@media screen and (max-width: 1600px) {
	.banner-text-title {
		margin-bottom: 5%;
	}

}

@media screen and (max-width: 1300px) {

}

@media screen and (max-width: 1000px) {

}

@media screen and (max-width: 991px) {
	.socialmedia .col-sm-4 {
		padding: 0px 30px;
	}
	.socialmedia .col-sm-6 {
		padding: 0px 90px;
	}

}

@media screen and (max-width: 767px) {
	.banner-content {
		line-height: 25px;
		letter-spacing: 1px;
	}
	.banner-text-title {
		text-align: center;
		margin-top:10%;
		margin-bottom: 10%;
		font-family: Helvetica;
		letter-spacing: 10px;
	}

}

@media screen and (max-width: 416px) {
	.mainbanner {
		position: relative;
		overflow: hidden;
	}

	.mainbanner img.banner1 {
		width: 180%;
	    margin-left: -60%;
	}
	.banner-text-title {
		text-align: center;
		margin-top: 20%;
		margin-bottom: 10%;
		font-family: Helvetica;
		letter-spacing: 10px;
	}
}